.idea
.precomp/
.DS_Store
.vstags
.vscode
.*.swp
*~
*.class
*.exe
*.o
*.obj
*.ali
*.bak
ch-1
ch-2
ch_1
ch_2
go.mod
go.sum
tags
update
__pycache__/

# Perl Inline module
_Inline

# Rust languageoutput directory
target/

# Jupyter notebook directory
.ipynb_checkpoints/

# BBEdit project files
.bbprojectd

# R files
.RData
.Rhistory 

# Files created by nuweb, latex, and tex4ht
*.4ct
*.4tc
*.aux
*.css
*.dvi
*.html
*.idv
*.lg
*.log
*.out
*.tex
*.tmp
*.xdv
*.xref
