*.class
*.jar
*.swp
*~
.*_history
.sw*
.vscode
/.calva/output-window/
/.classpath
/.clj-kondo/
/.cpcache/
/.eastwood/
/.factorypath
/.hg/
/.hgignore
/.java-version
/.lein-*
/.lsp/
/.nrepl-history
/.nrepl-port
/.project
/.projections.json
/.rebel_readline_history
/.settings
/.socket-repl-port
/checkouts/
/classes/
/target/
